<div id="search-form">
	<form action="/search" method="get" id="search-inputs">
        <% if (words == '') { %>
            <input type="text" name="search-words" placeholder="What do you want to find ?">
        <% } else { %>
            <input type="text" name="search-words" value="<%= words %>">
        <% } %>
	<p class="double-btn">
	    	<input type="submit" class="btn btn-blue active" value="Search" /><a href="#" class="btn btn-blue swapper active search btn-arrow-bottom"></a>
	    	<input type="submit" class="btn btn-yellow inactive" value="Get lucky" /><a href="#" class="btn btn-yellow swapper lucky inactive btn-arrow-up"></a>
	</p>
    <div class="level">
        <label for="search_strict" class="checkbox rounded-checkbox">
            <input  value="1" type="checkbox" id="search_strict" class="checkbox">
            <span class="check"><span></span></span>
            Recherche stricte
        </label>
        <label for="search_tolerante" class="checkbox rounded-checkbox">
            <input  value="3" type="checkbox" id="search_tolerante" class="checkbox">
            <span class="check"><span></span></span>
            Recherche tolérante
        </label>
    </div>
</form>
</div>
