<div id="search-form">
	<form action="/search" method="get">
	<input type="text" name="search-words" placeholder="What do you want to find ?">
	<p class="double-btn">
	    	<input type="submit" class="btn btn-blue active" value="First choice" /><a href="#" class="btn btn-blue swapper active btn-arrow-bottom"></a>
	    	<input type="submit" class="btn btn-yellow inactive" value="Second choice" /><a href="#" class="btn btn-yellow swapper inactive btn-arrow-up"></a>
	</p>
</form>
</div>
