<div id="crawl-form">
    <form action="/crawl" method="post" id="crawl-inputs">
        <input type="text" name="url" placeholder="Enter URL you want to crawl">
        <input type="submit" class="btn btn-blue" value="Crawl" />
    </form>
</div>
