body {
	font-family: 'Lato', sans-serif;
	color: white;
	background-image: url('img/bg.jpg');
    background-attachment: fixed;
	background-size: 100%;
}

h1 {
	font-weight: 300;
	font-size: 48px;
}

h2 {
	font-weight: 300;
	font-size: 28px;
}

/* Home top design */

#home-top {
	margin-bottom: 10%;
}

#login {
	text-align: right;
}

#login input {
	height: 18px;
}

#login .btn-blue {
	height: 25px;
	vertical-align: top;
}

#login .username {
	font-weight: 300;
	display: inline-block;
    vertical-align: middle;
}

#login .btn-red, #login .btn-green {
	margin-left: 20px;
}

/* Logo */

#logo {
	background-image: url('img/logo.svg');
	height: 190px;
	margin: auto;
	margin-bottom: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

/* Search bar design */

#search-form, #crawl-form {
	width: 70%;
	margin: auto;
	text-align: center;
}

#search-form input, #crawl-form input {
	vertical-align: top;
}

#search-form .double-btn {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

#search-form input[type="text"] {
	height: 19px;
	width: 70%;
	margin-right: 15px;
	vertical-align: middle;
}

#crawl-form input[type="text"] {
    height: 19px;
    width: 70%;
    margin-right: 15px;
    vertical-align: middle;
}

#crawl-form input[type="submit"] {
    height: 26px;
    width: 100px;
}

#notifications {
    display: block;
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.error-box {
    background-color: #B63625;
    padding: 10px;
    box-shadow: 0px 0px 3px #761509;
}


