body {
	font-family: 'Lato', sans-serif;
	color: white;
	background-image: url('img/bg.jpg');
	background-size: 100%;
}

h1 {
	font-weight: 300;
	font-size: 48px;
}

h2 {
	font-weight: 300;
	font-size: 28px;
}

/* Home top design */

#home-top {
	margin-bottom: 10%;
}

#login {
	text-align: right;
}

#login input {
	height: 18px;
}

#login .btn-blue {
	height: 25px;
	vertical-align: top;
}

#login .username {
	font-weight: 300;
	display: inline-block;
}

#login .btn-red {
	margin-left: 20px;
	margin-right: 20px;
}

/* Logo */

#logo {
	background-image: url('img/logo.png');
	width: 538px;
	height: 190px;
	margin: auto;
	margin-bottom: 20px;
}

/* Search bar design */

#search-form {
	width: 70%;
	margin: auto;
	text-align: center;
}

#search-form input {
	vertical-align: top;
}

#search-form .double-btn {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

#search-form input[type="text"] {
	height: 19px;
	width: 70%;
	margin-right: 15px;
	vertical-align: middle;
}



