<!DOCTYPE html>
<html>
  <head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/base.css">
    <link rel="stylesheet" href="/linker/styles/forms.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/forms.js"></script>
    <!--SCRIPTS END-->
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

  </head>

  <body>

    <!-- Include the view file for the current controller/route -->
    <%- body %>


  </body>
</html>
