<form action="/login" method="post">
  <input type="text" name="username" class="input-user">
  <input type="password" name="password" class="input-password">
  <input type="submit" value="log in" class="btn btn-blue">
</form>